header {
    background: #FFA500;
    padding: 50px 0;
}

.principal {
    display: inline-block;
    margin: 0 200px;
    position: relative;
    padding: 50px 170px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: #C78C19;
}

#missao {
    padding: 30px;
}

.sobre {
    color: #000000;
    font-weight: bold;
    text-align: left;
}

/*.beneficios {
    margin: 3% 0;
    font-size: 20px;
    position: absolute;
    padding: 150px;
    color: #C78C19;
    right: 100px;
}*/

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

fieldset {
    text-align: center;
}

.titulo-centralizado-beneficios {
    text-align: left;
    color: black;
    font-weight: bold;
}

.itens {
    font-style: italic;
    text-align: center;
    color: #C78C19;

}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.localizacao {
    padding: 20px 0;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 99px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}
