header {
    background-image: linear-gradient(to right, #C78C19, #083263);
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 20px 80px;
}

.produtos li:hover {
    border-color: #C78C19;
    font-size: 40px;
}

/*caixa main contato*/
.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 40px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0;
}

footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 10px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}

/* O Css da página principal começa aqui */
main {
    width: 940px;
    margin: 0 auto;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

/*aqui fica todos os textos iniciais exmplo sobre a barbearia e beneficios*/
.texto-titulo-cabecalho {
    text-align: center;
    font-size: 30px;
    margin: 30px;
    clear: left;
}

/*texto descrição do index*/
.texto-principal-home p {
    text-align: left;
    padding: 0 0 0.8em;
    margin: 10px;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
    text-align: left;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #FFA500;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: #FF8C00;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

.principal {
    display: block;
    margin: 0 25px;
    padding: 3em 0;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    color: #C78C19;
}

#missao {
    padding: 30px;
}

.beneficios {
    color: #000000;
    padding: 10px 0;
    font-weight: bold;
    text-align: left;
}

/*Cor de fundo do menu do header*/
nav a:hover {
    color: #d3d3d3;
    text-decoration: underline;
}

fieldset {
    text-align: left;
}

.itens {
    font-style: italic;
    text-align: center;
    color: #000000;
    padding: 80px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

/*para editar o texto home/produtos/ agendamento/contato*/
nav a {
    text-transform: uppercase;
    color: #FFFF00;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.localizacao {
    padding: 100px 0;
    margin-left: 400px;
}


