header {
    background: #BBBBBB;
    padding: 50px 0;
}

.principal {
    padding: 50px;
    font-size: 20px;
}

.beneficios {
    position: absolute;
    padding: 50px;
    color: #C78C19;
}

p {
    text-align: center;
}

.titulo-centralizado {
    text-align: center;
}

.itens {
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}
